<%- include("../partials/header")%>
<div class="container">
    <div class="card">
        <div class="card-header">
          How This App Works
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Chat with all, your college students and faculty</li>
                <li class="list-group-item">Personal Chat is simple (There is a list of users, choose and chat)</li>
                <li class="list-group-item">Please maintain decoram of the chat</li>
            </ul>
            <br>
            <a href="/chat/<%=currentUser._id%>" class="btn btn-primary">Personal Chat</a>
        </div>
      </div>
</div>
<%-include("../partials/footer")%>