<%- include("partials/header")%>
<div class="container">
    <div class="jumbotron">
        <h1>The Chat Application</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat unde provident quaerat consectetur voluptatum? Iure, eum! Quidem quaerat nesciunt neque alias nobis minus officia asperiores architecto. Explicabo consequatur consectetur voluptatum!
        </p>
        <hr>
        <a class="btn btn-dark btn-lg" href="/signup">Signup</a>
        <a class="btn btn-dark btn-lg" href="/login">Login</a>
    </div>
</div>
<%-include("partials/footer")%>